:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
 background: linear-gradient(rgba(22, 70, 54, 0.9), rgba(14, 67, 35, 0.9)),
url("https://images.unsplash.com/photo-1448375240586-882707db888b");
background-size: cover;
background-position: center;
  color: #4A4A4A;
}

* {
  box-sizing: border-box;
}

main {
  padding-bottom: 100px;
}

button,
input,
select {
  font-family: inherit;
}

h1,h2,h3,h4,h5 { color: #1B5E20; }

